
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar hide for the background gallery */
.no-scrollbar::-webkit-scrollbar { 
  display: none; 
}

.no-scrollbar { 
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

/* Base body styles to ensure smooth rendering */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8fafc; /* slate-50 */
}

